<div>
    <app-server></app-server>
    <div [align]="text_alignment">Property Binding Demo.
        The property being content alignment.
         Currently aligned to {{text_alignment}}.
    </div>
    <hr>
    <div>
        <p>Property & Event binding Demo</p>
        <button class="btn btn-primary" [disabled]="isDisabled"
        (click)="create_server()">Create Server</button>
        <p>{{ server_status }}</p>
    </div>
    <hr>
    <div>
        <p>Processing event data Demo</p>
        <input type="text" (input)="recce_server($event)">
        <p>Current server name is {{ current_server_name }}</p>
    </div>
    <hr>
    <div>
        <p>Two way data binding using ngModel directive Demo</p>
        <select [(ngModel)]="car_name">
            <option value="Lamborghini">Lambo</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Ghost">Ghost</option>
        </select>
        <p>User input is {{car_name}}</p>
    </div>
    <hr>
    <div>
        <p>This is part of Assignment 2</p>
        <input type="text" [(ngModel)]="username">
        <p>The username is {{username}}</p>
        <button class="btn btn-primary" [disabled]="username.length == 0" (click)="flush_name()">
            Clear Username
        </button>
    </div>
</div>
<hr>